.teste{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    animation: frommenu 1s ease-in-out;
}

.menu{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #ada5a5;
    animation: frommenu 1s ease-in-out;
}

@keyframes frommenu {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

.img{
    width: 10px;
    height: 10px;
}